@model TTrabajador

<body >
<section class="content">
      <div class="col-sm-12">
            <h1>Actualizar Trabajador</h1>
          </div>
      <div class="container-fluid">
        <div class="row">
          <!-- left column -->
          <div class="col-md-9">
            <!-- general form elements -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Registro de Trabajador</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              <form asp-action="GuardarActualizacion" asp-controller="Trabajador" method="post">
                <div class="card-body">
                   <div class="form-group"  style="display: none">
                    <label for="exampleInputEmail1">DNI:</label>
                    <input type="text" class="form-control"  placeholder="Dni" asp-for="Dni">
                     <span asp-validation-for="Dni" class="text-danger"> </span>
                  </div>
                  <div class="form-group">
                    <label for="exampleInputPassword1">Nombres:</label>
                    <input type="text" class="form-control"  placeholder="Nombres" asp-for= "Nombre">
                     <span asp-validation-for="Nombre" class="text-danger"> </span>
                  </div>
                  <div class="form-group">
                    <label for="exampleInputPassword1">Apellidos:</label>
                    <input type="text" class="form-control"  placeholder="Apellidos" asp-for= "Apellido">
                     <span asp-validation-for="Apellido" class="text-danger"> </span>
                  </div>
                  <div class="form-group">
                    <label for="exampleInputPassword1">Celular</label>
                    <input type="text" class="form-control"  placeholder="Celular"  maxlength="9" asp-for= "Celular">
                     <span asp-validation-for="Celular" class="text-danger"> </span>
                  </div>
                   <div class="form-group">
                      <label for="exampleInputPassword1">Tipo Trabajador</label>
                    <select class="form-control select2" style="width: 100%;"asp-for="IdTipoTrabajador" asp-items="@(new SelectList(ViewBag.ListaTipoTrabajador,"IdTipoTrabajador","NombreTipoTrabajador"))">
                  </select>
                  </div>
                    <div class="form-group">
                      <label for="exampleInputPassword1">Estado Trabajador</label>
                    <select class="form-control select2" style="width: 100%;"asp-for="IdEstadoTrabajador" asp-items="@(new SelectList(ViewBag.ListaEstadoTrabajador,"IdEstadoTrabajador","NombreEstadoTrabajador"))">
                  </select>
                  </div>
                </div>
                <!-- /.card-body -->
                <div class="card-footer">
                  <button type="submit" class="btn btn-primary">Actualizar</button>
                 <a asp-controller="Trabajador" asp-action="ListaTrabajador" class="btn btn-primary" role="button"> Cancelar</a>
                </div>
              </form>
            </div>
             <!-- /.card -->
          </div>
          <!--/.col (right) -->
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>

  <script>
  $(function () {
    //Initialize Select2 Elements
    $('.select2').select2()

    //Initialize Select2 Elements
    $('.select2bs4').select2({
      theme: 'bootstrap4'
    })
     $('.duallistbox').bootstrapDualListbox()
</script>
<script src="~/plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="~/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- AdminLTE App -->
<script src="~/dist/js/adminlte.min.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
</body>