 @model TUnidad;

 
 <body>
    <section class="content">
        <div class="col-sm-12">
            <h1>Catalogo</h1>
        </div>
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Catalogo</h3>
              </div>
              <!-- /.card-header -->
            <div class="card-body">
            <div class="row">
            @foreach (TUnidad  item in ViewBag.Unidad)
            {
                var imagePath =  @item.Imagen;  
                <div class="col-md-12 col-lg-6 col-xl-4">
                <div class="card mb-2 bg-gradient-dark">
                <img class="card-img-top" src="~/images/@imagePath" alt="Dist Photo 1" width="390" height="350">
                <div class="card-img-overlay d-flex flex-column justify-content-end">
                <a asp-controller="Unidad" asp-action="DetalleC" asp-route-id="@item.Serie" class="card-title text-primary text-black">@item.Nombre , @item.Modelo </a>
                </div>
                </div>
                </div>
             }
              </div>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </section>

</body>