@model TCitum

<body>
<section class="content">
      <div class="col-sm-12">
            <h1>Solicitar Cita</h1>
          </div>
      <div class="container-fluid">
        <div class="row">
          <!-- left column -->
          <div class="col-md-6">
            <!-- general form elements -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Solicitud de Cita</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              <form asp-action="Guardar" asp-controller="Cita" method="post" enctype="multipart/form-data">
                <div class="card-body">
                   <div class="form-group" style="display: none">
                    <label for="exampleInputEmail1"> Cita Id:</label>
                    <input type="text" class="form-control" placeholder="Cita" asp-for="IdCita">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputEmail1">Fecha de Cita:</label>
                    <input type="date" class="form-control" placeholder="Fecha de la cita" asp-for="FechaCita">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputPassword1">Hora de Cita</label>
                    <input type="text" class="form-control"  placeholder="Hora de la cita" asp-for="HoraCita">
                     <span asp-validation-for="HoraCita" class="text-danger"> </span>
                  </div>
                  <div class="form-group" style="display: none">
                    <label for="exampleInputPassword1">ID ObraCita</label>
                    <input type="text" class="form-control"  placeholder="Obra Cita" asp-for="IdObraCita">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputPassword1">Lugar de Cita : </label>
                    <input type="text" class="form-control"  placeholder="Lugar de la cita" asp-for="lugarCita">
                    <span asp-validation-for="lugarCita" class="text-danger"> </span>
                  </div>
                </div>
                <!-- /.card-body -->
                <div class="card-footer">
                  <button type="submit" class="btn btn-primary">Solicitar Cita</button>
                   <button type="submit" class="btn btn-primary">Cancelar</button>
                </div>
              </form>
            </div>
             <!-- /.card -->
          </div>
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>

<script src="~/plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="~/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- AdminLTE App -->
<script src="~/dist/js/adminlte.min.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
</body>